.top-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  text-align: center;
  font-family: monospace;
  font-size: 1.6em;
  line-height: 2px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container img {
  transition: all .1s ease;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.container img:active {
  transform: scale(0.98);
}